.home{
    margin-top:15rem;    
    position: relative;
    &-content{
        margin-left:calc(40.5rem + 5rem);
        &-select{
            margin-top:5rem;
            @include flex(end);
            select{
                width:max-content;
                padding:0.5rem;
                border-radius: 4rem;
                font-size: 1.6rem;

            }
        }
        &-listProducts{
            @include flex(start,center,0,row,wrap);
            margin:5rem -2.5rem;
        }
    }
}